body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sanrio';
    src: url(Boldins.otf);
    font-style: normal;
    font-weight: normal;
}

img {
    width: 295px;
    height: 295px;
}

p {
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Sanrio';
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
}

.character {
    background-color: #ffffff;
    color: #1f6494;
    padding: 20px;
    margin: 5px;
    width: 350px;
    border: 10px solid #000000;
    border-radius: 20px;
}

.logo {
    height: 50px;
    width: 61px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.container-fluid {
    background-color: #1f6494;
    font-family: 'Sanrio';
    font-size: 25px;

}

.navbar.navbar-expand-lg.bg-body-tertiary {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}