@font-face {
    font-family: 'Sanrio';
    src: url(Boldins.otf);
    font-style: normal;
    font-weight: normal;
}

.container-fluid {
    background-color: #1f6494;
    font-family: 'Sanrio';
    font-size: 25px;

}

.navbar.navbar-expand-lg.bg-body-tertiary {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    height: 50px;
    width: 61px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}